@use "./reset.scss";
@use "./themes/light.scss";
@use "./themes/dark.scss";
@use "./variables/global.scss";

.app,
.sb-show-main {
	display: flex;
	background: var(--bg-color);
	min-height: 100vh;
	font-weight: normal;
	font-family: 'Inter-Regular', sans-serif;
}

.sb-show-main {
	padding: 20px 30px !important;
}

@font-face {
	font-family: 'Inter-Regular';
	src: url('../../assets/fonts/Inter-Regular.woff') format('opentype');
}