.numeric {
	width: 28px;
	height: 28px;
	background: var(--bg-tertiary);
	color: var(--primary-text-color);
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-s-text);
	font-weight: 600;
	border: 1px solid var(--border);
}