.Card {
	width: 100%;
	padding: var(--padding-l);
	background: var(--bg-surface);
	border-radius: var(--radius-m);
	border: 1px solid var(--border);
	box-shadow: var(--shadow-s);
}

.hovered {
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		border-color: var(--accent);
		box-shadow: var(--shadow-m);
	}
}