.ThemeSwitcher {
	display: flex;
	align-items: center;
	gap: 12px;
}

.icon {
	width: 30px;
	height: 30px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 24px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--theme-switcher-bg);
	border: 2px solid var(--border);
	border-radius: 34px;
	transition: .4s;
}

.ball {
	position: absolute;
	border-radius: 50%;
	content: "";
	height: 26px;
	width: 26px;
	left: -4px;
	top: -3px;
	background-color: var(--theme-switcher-label);
	transition: .4s;
}

.isSwitched {
	transform: translateX(32px);
}

.bgSwithed {
	background: none;
	border: 2px solid var(--theme-switcher-bg);
	position: absolute;
	left: -4px;
	bottom: -2px;
	top: 2px;
}

.round {
	
}