.Navbar {
	width: 100%;
	background: var(--bg-tertiary);
	border-bottom: 1px solid var(--border);
	//height: var(--navbar-height);
	padding: 32px;
	flex-shrink: 0;
	//position: fixed;
	z-index: var(--navbar-zindex);
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: red;
}