.form {
	width: 100%;
}

.header {
	padding-bottom: 24px;
	border-bottom: 1px solid var(--border-light);
}

.resultWrap {
	padding-top: 24px;
	border-top: 1px solid var(--border-light);
}

.btn {
	width: 100%;
	&:hover {
		opacity: 0.5;
	}
}