.header {
	padding-bottom: 24px;
	border-bottom: 1px solid var(--border-light);
}

.resultWrap {
	padding-top: 24px;
	border-top: 1px solid var(--border-light);
}

.form {
	width: 100%;
}

.inputs {
	margin-top: 20px;
}

.title {
	margin-bottom: 4px;
}

.btn {
	width: 100%;
	transition: 0.3s;
	&:hover {
		opacity: 0.5;
	}
}
