.app_dark_theme {
	// Background
	--bg-primary: #000;
	--inverted-bg-primary: #fff;

	--bg-secondary: #1c1c1e;
	--inverted-bg-secondary: #c6c6cc; 

	--bg-tertiary: #2c2c2e;
	--inverted-bg-tertiary: #86868b;

	--bg-surface: #1a1a1c;
	--inverted-bg-surface: #515154;

	// Text
	--primary-text-color: #f5f5f7;
	--secondary-text-color: #98989d;
	--tertiary-text-color: #6c6c70;

	--inverted-primary-text-color: #1d1d1f;
	--inverted-secondary-text-color: #f5f5f7;
	--inverted-tertiary-text-color: #98989d;

	// Border
	--border: #38383a;
	--border-light: #2d2d30;
	--accent: #8e8e93;
	--accent-hover: #a1a1a6;

	// Input
	--input-bg-color: #000;

	// Theme Switcher
	--theme-switcher-bg: #fff;
	--theme-switcher-label: #fff;

	// Loader
	--loader-color: #fff;

	// Sidebar
	--active-item: rgba(0, 0, 0, 0.2);
}