.Sidebar {
	width: 250px;
	min-height: 1080vh;
	border-right: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--bg-secondary);
}

.themeSwitcher {
	margin-top: 32px;
}