.Sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--sidebar-bg);
	padding: 30px;
}

.logoWrap {
	width: 200px;
}

.logo {
	width: 100%;
	height: 70px;
	object-fit: contain;
}

.content {
	margin-top: 32px;
}

.withContent {
	width: 500px;
}