.OpeningCard {
	width: 100%;
	padding: var(--padding-l);
	background: var(--bg-surface);
	border-radius: var(--radius-m);
	border: 1px solid var(--border);
	box-shadow: var(--shadow-s);
	display: flex;
	align-items: center;
	position: relative;
	gap: 16px;
}

.active {
	cursor: pointer;
}

.arrow {
	cursor: pointer;
	margin-left: auto;
	width: 36px;
	height: 36px;
}

.additional {
	margin-top: 16px;
}