.Table {
	width: 100%;
	border-collapse: collapse;
	background: var(--bg-primary);
	border: 1px solid var(--border);
	border-radius: var(--radius-m);
	overflow: hidden;
}

.th {
	text-align: left;
    padding: 16px 20px;
    background: var(--bg-tertiary);
    font-size: var(--font-size-sm-text);
    font-weight: 600;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--border);
}

.td {
	padding: 16px 20px;
    font-size: var(--font-size-s-text);
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--border-light);
}